h1 {
    margin-top: 5px;
    margin-left: 20px;
}

table {
    margin: 0px 20px;
}

/*#newCourseTitleFldRow {*/
    /*background-color: #e6e0eb;*/

/*}*/

th, td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.spaced {

    white-space: nowrap;
    padding-right: 15%;
}

td>i {
    cursor: pointer;
}

.wbdv-folder {
    padding-right: 15px;
}

tr:hover.wbdv-course-row {background-color: #f5f5f5;}